<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
   <!--CARDANO CLI-->
    <add key="CLI_NETWORK" value="CLI_VALUE_NETWORK" />
    <add key="CLI_PATH" value="CLI_VALUE_PATH" />
    <add key="CLI_WORKING_DIR" value="CLI_VALUE_WORKING_DIR" />
    <add key="CLI_SIGNING_KEY" value="CLI_VALUE_SIGNING_KEY" />

    <!--COSMOS DB-->
    <add key="CosmosEndpointUri" value="COSMOS_ENDPOINT" />
    <add key="CosmosPrimaryKey" value="COSMOS_PRIMARYKEY" />
    <add key="CosmosDatabaseName" value="COSMOS_DBNAME" />
  </appSettings>
</configuration>