<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--BLOCKFROST API-->
    <add key="ProjectId" value="PROJECT_ID" />
    <add key="BlockfrostApiUrl" value="BLOCKFROST_API_URL" />
    <add key="Address" value="CARDANO_ADDRESS" />
    <add key="ReadByCount" value="10" />

    <!--CUSTOM API-->
    <add key="QueueApiUrl" value="QUEUE_URL" />

    <!--COSMOS DB-->
    <add key="CosmosEndpointUri" value="COSMOS_ENDPOINT" />
    <add key="CosmosPrimaryKey" value="COSMOS_PRIMARYKEY" />
    <add key="CosmosDatabaseName" value="COSMOS_DBNAME" />
  </appSettings>
</configuration>