.container {
    min-height: 100vh;
    width: 100vw;
    /* max-width: 60rem; */
    padding: 0 0;
    margin: 0;
    transition: all 0.3s ease-out;
    /* border-top-color: #0033AD;
    border-top-width: 1em; */
  }
  
  .collections {
    background-color: var(--chakra-colors-gray-50);
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
 /* #navbar {
    transition: top 0.3s;  Transition effect when sliding down (and up) 
  }*/
  
.stickyNav {
  position: -webkit-sticky;
}

  .backToHome {
    margin: 0 0 0;
  }

  .disableEvents {
    pointer-events: none;
  }

  .rotate {
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 0, 0, 0.3);
    opacity: 0.8;
    margin: -80%;

    transform: rotate(15deg);
  
    /* Legacy vendor prefixes that you probably don't need... */
  
    /* Safari */
    -webkit-transform: rotate(15deg);
  
    /* Firefox */
    -moz-transform: rotate(15deg);
  
    /* IE */
    -ms-transform: rotate(15deg);
  
    /* Opera */
    -o-transform: rotate(15deg);
  
    /* Internet Explorer */
    /* filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); */
  
  }
.link {
  writing-mode: tb;
}

.link:hover {
  text-shadow: 1px 1px #000000;
}
.linkLight {
  writing-mode: tb;
}
.linkLight:hover {
  text-shadow: 1px 1px #fff;
}

.ledgreen {
  margin: auto;
  width: 12px;
  height: 12px;
  background-color: #ABFF00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -0.5px 3.5px 0.5px, inset #304701 0 -0.5px 4.5px, #89FF00 0 1px 6px;
}

.ledorange {
  margin: auto;
  width: 12px;
  height: 12px;
  background-color: #ffae00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -0.5px 3.5px 0.5px, inset #8b5f00 0 -0.5px 4.5px, #ffae00 0 1px 6px;
}

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: .9;
  visibility: visible;
  z-index: -1;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}