<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ProjectId" value="BlockfrostProjectId" />
    <add key="Address" value="CardanoWalletAddress" />
    <add key="ApiUrl" value="BlockfrostApiUrl" />
    <add key="ReadByCount" value="10" />

  </appSettings>
</configuration>